@import url(https://fonts.googleapis.com/css?family=Pacifico);
@import url(https://fonts.googleapis.com/css?family=Bangers);
@import url(https://fonts.googleapis.com/css?family=Passion+One);



html {
	box-sizing: border-box;
}

body { 
	min-height: 100vh;
    background: url("../images/galaxy.jpg");
    background-size: cover;
	background-repeat: no-repeat;
	background-attachment: scroll;
	margin-top: -101px;
}

h3 {
	margin: 20px 0px 10px 0px;
	letter-spacing: 3px;
}
p{
	color: white;
	font-family: 'Passion One', Arial, Helvetica, sans-serif;
	font-size: x-large;
}

.header {
	padding: 70px 0px 0px 0px;
	color: grey;
}

h1, h3, #magicNumber, #totalScore, #wins, #losses, .score {
	color: #5073aa;
}

h1 {
	color:rgb(241, 100, 154);
	margin: 50px 0px 38px 0px;
	letter-spacing: 12px;
	font-family: 'Bangers';
	font-size: 3.5rem;
	

}

.crystalimg {
	width: 150px;
	margin: 30px auto;
	
}

.directions {
	color: grey;
	text-align: center;
	padding: 20px 85px;
}

.score {
	padding-top: 30px;
	margin-bottom: 0;
	font-size: 22px;
	font-weight: 600;
	letter-spacing: 3px;
}

/*.directions {
	
}*/

#winOrLose {
	color: #a182bc;
}

.total, .scores, .directions {
	margin: auto;
}

.btn {
	margin-top: 30px;
	margin-left: auto;
	margin-right: auto;
	color: #a182bc;
	letter-spacing: 3px;
}

